@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: 'UrbancatRg';
  src: url('./assets/fonts/UrbancatRg-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'UrbancatRg';
  src: url('./assets/fonts/UrbancatRg-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'UrbancatRg';
  src: url('./assets/fonts/UrbancatRg-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'UrbancatRg';
  src: url('./assets/fonts/UrbancatRg-Thin.ttf') format('truetype');
  font-weight: 100;
}

/* Second family */
@font-face {
  font-family: 'UrbancatSt';
  src: url('./assets/fonts/UrbancatSt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'UrbancatSt';
  src: url('./assets/fonts/UrbancatSt-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'UrbancatSt';
  src: url('./assets/fonts/UrbancatSt-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'UrbancatSt';
  src: url('./assets/fonts/UrbancatSt-Thin.ttf') format('truetype');
  font-weight: 100;
}


@font-face {
  font-family: 'Future';
  src: url('./assets/fonts/Future-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Future';
  src: url('./assets/fonts/Future-Bold.ttf') format('truetype');
  font-weight: 700;
}
.card-coin {
  perspective: 2000px;
}

.card-inner {
  transform-style: preserve-3d;
  /* IMPORTANT: default visible state */
  opacity: 1;
  transform: rotateY(0deg) scale(1);
}

.card-inner.animate {
  animation: coinTwirl 2s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes coinTwirl {
  0% {
    transform: rotateY(90deg) scale(0.8);
    opacity: 0;
  }
  40% {
    transform: rotateY(720deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: rotateY(760deg);
  }
  100% {
    transform: rotateY(720deg);
    opacity: 1;        /* VERY IMPORTANT */
  }
}

